@font-face {
    font-family: 'Fricolage Grotesque';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(../assets/fonts/fricolage-grotesque.var.woff2) format('woff2')
  }

  @font-face {
    font-family: 'Mackinac';
    src: url("../assets/fonts/mackinac-medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Mackinac';
    src: url("../assets/fonts/mackinac-medium-italic.woff2") format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: block;
  }

  @font-face {
    font-family: 'Mackinac';
    src: url("../assets/fonts/mackinac-bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Mackinac';
    src: url("../assets/fonts/mackinac-bold-italic.woff2") format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: block;
  }

  @font-face {
    font-family: 'Fragment Mono';
    src: url("../assets/fonts/fragment-mono-regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Fragment Mono';
    src: url("../assets/fonts/fragment-mono-italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: block;
  }

.max-content {
  max-width: 1260px;
}

.max-content-tab {
  max-width: 650px;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-inter);
  letter-spacing: -.005em;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-stretch: 98.5%;
  font-variation-settings: "opsz" 24;
}

.homepage_bg {
  background: url('@/shared/assets/images/bghome.svg');
}

.gradient_color {
  background: linear-gradient(
      118.19deg,
      var(--color-blue-100) -3.62%,
      var(--color-caribbeangreen-100) 50.44%,
      var(--color-caribbeangreen-25) 104.51%
    ),
    linear-gradient(0deg, var(--color-black), var(--color-black));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-black) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.custom-loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#0000 15%, var(--color-white));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.6s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.lable-style {
  @apply text-[14px];
  color: var(--color-black);
}

.form-style {
  border-radius: 0.5rem;
  background-color: var(--color-black);
  padding: 0.75rem;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.section_heading {
  @apply text-2xl font-bold lg:text-4xl;
  color: var(--color-black);
}

.yellowButton {
  cursor: pointer;
  border-radius: 0.375rem;
  background-color: var(--color-yellow-50);
  padding: 8px 20px;
  font-weight: 600;
  color: var(--color-black);
  transition: 0.3s;
}

.yellowButton:hover {
  background-color: var(--color-black);
  color: var(--color-yellow-50);
}

.blackButton {
  cursor: pointer;
  border-radius: 0.375rem;
  background-color: var(--color-black);
  padding: 8px 20px;
  font-weight: 600;
  color: var(--color-black);
  transition: 0.3s;
}

.blackButton:hover {
  background-color: var(--color-black);
  color: var(--color-black);
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
}

.skeleton::after {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(111, 119, 131, 0) 0,
    rgba(143, 132, 132, 0) 20%,
    rgba(126, 139, 151, 0.5) 60%,
    rgba(25, 55, 99, 0)
  );
  animation: shimmer 0.9s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.top {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.show {
  background-color: var(--color-black);
}

.hide {
  transform: translateY(-60px);
}

.glass-bg {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.84);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.code-block1-grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 16.53px);
  top: calc(50% - 257.05px / 2 - 17.47px);
  background: linear-gradient(
    123.77deg,
    #8A2BE2 -6.46%,
    #FFA500 59.04%,
    var(--color-white) 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  z-index: 0;
}

.code-block2-grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 26.53px);
  top: calc(50% - 257.05px / 2 - 17.47px);
  background: linear-gradient(
    118.19deg,
    var(--color-blue-100) -3.62%,
    var(--color-caribbeangreen-100) 50.44%,
    var(--color-caribbeangreen-25) 104.51%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  z-index: 0;
}

.glass {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.code-border {
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
}

.opacity_layer_bg {
  background: linear-gradient(
    180deg,
    rgba(4, 21, 45, 0) 0%,
    var(--color-black) 79.17%
  );
}

.btn-purple {
    background-image: linear-gradient(to bottom right, #A02BE4, transparent, #4f46e5);
    background-clip: padding-box;
    outline: none !important;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="search"]::-moz-search-clear {
  display: none;
}