@theme {
  --font-inter: Fricolage Grotesque, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: Mackinac, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-edu-sa: Edu SA Beginner, cursive;
  --font-mono: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #ffffff00;

  /* Violet / Purple Palette - https://www.color-hex.com/color-palette/34345 */
  --color-purple-5:  #fbf8ff;
  --color-purple-25: #eac4ff;
  --color-purple-50: #d583ff;
  --color-purple-100:#ab00ff; /* your #ab00ff */
  --color-purple-200:#9700e2;
  --color-purple-300:#8300c4; /* your #8300c4 */
  --color-purple-400:#6800b4;
  --color-purple-500:#4c00a4; /* your #4c00a4 */
  --color-purple-600:#400090;
  --color-purple-700:#33007b; /* your #33007b */
  --color-purple-800:#320062;
  --color-purple-900:#31004a; /* your #31004a */

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs:  0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm:  0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.06);

  --max-w-maxContent: 1260px;
  --max-w-maxContentTab: 650px;
}
